<h1>Sign In</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for(:sessions, :url => sessions_path) do |f| %> <!--signin_path GET, sessions_path POST, signout_path DESTROY -->
		<div id="register">
			<div><%= f.label :email %></div> <div><%= f.text_field :email %></div>
			<div><%= f.label :pasword %></div> <div><%= f.text_field :password %></div>
			<div id="Btn2"><%= f.submit "Sign In" %></div>
		</div>
<% end %>

<p id="indent2">New user? <%=link_to "Sign up for Awesomeness!", signup_path %> </p>