<h1>Sign Up</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
		<div id="register">
			<div><%= f.label :name %></div> <div><%= f.text_field :name %></div>
			<div><%= f.label :email %></div> <div><%= f.text_field :email %></div>
			<div><%= f.label :password %></div> <div><%= f.password_field :password %></div>
			<div><%= f.label :password_confirmation, "Confirm password" %></div><div><%= f.password_field :password_confirmation %> </div>
			<div id="Btn2"><%= f.submit "Sign Up" %></div>
		</div>
<% end %>
